{% extends 'base_layout.html' %}

<nav><li>
    <ol>Main Page</ol>
    <ol>Write a message</ol>
    <ol>About</ol>
</li></nav>
<div class="container">
    <div class="text">
        <h1>WHADUP</h1>
        <p>Post something !</p>
    </div>
    <div class="articles">
        {% for article in articles %} <!-- petla po artykulach -->
            <div class="article">
                <h2><a href="#">{{ article.title }}</a></h2> <!--outputujemy tytul artykulu -->
                <p>{{article.snippet}}</p>
                <p>{{article.date}}</p>
            </div>
        {% endfor %}
    </div>
</div>

